/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: salmon;
	color: #fff;
	align-items: center;
	justify-content: center;
}

.btn {
	font-size: 1rem;
	margin-top: 30px;
	display: inline-block;
	outline: 0;
	border: 1px solid hsl(210, 84%, 48%);
	background: linear-gradient(
		to top,
		hsl(210, 84%, 48%),
		hsla(210, 92%, 45%, 1)
	);
	color: #fff;
	padding: 15px 30px;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: ;
	font-weight: bolder;
}
