/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: salmon;
	color: #fff;
	align-items: center;
	justify-content: center;
}

.btn {
	font-size: 1rem;
	margin-top: 30px;
	display: inline-block;
	outline: 0;
	border: none;
	background: linear-gradient(
		to top,
		hsl(210, 84%, 48%),
		hsla(210, 92%, 45%, 1)
	);
	color: #fff;
	padding: 15px 30px;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: ;
	font-weight: bolder;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
	transition: all 0.3s;
}
.btn:hover {
	background: linear-gradient(to top, #147ae1f5, #0770daf3);
	transform: translateY(-2px);
}
